
*{
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    color: aliceblue;
}
main{
    margin-top: 20px;
    padding-left:13vw ;
    padding-right: 10vw;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(12, 70, 12);
    height: 70px;
    width: 99vw;
    box-shadow: 0 0 10px rgb(20, 19, 19);
    color: aliceblue;
}
#brand{
    width: 100%;
    height: 50px;
}
#brand img{
width: 50px;
height: 40px;
}
#brand span{
    color: green;
    position: absolute;
    top: 5px;
    font-size: 20px;
    
}


#logo{
    
    width: 250px;
   
    display: flex;
    
}
#logo span{
   
    position: relative;
    bottom: 26px;
    font-size: 26px;
}
#logo img {
    width: 30%;
    padding-left: 20px;
   
}
#manu li{
    margin: 20px;
    padding-right: 20px;
}
#manulogo{
    font-size: 20px;
}
#searchbox label{
padding-left: 10px;
font-size: 23px;
position: relative;
top: 5px;
}
#searchbox span{
    padding-left: 3px;
}
#searchbox input{
    height: 1.5vw;
    width: 15vw;
}
.cardbox{
    display: flex;
    
    margin-top: 40px;
    justify-content: center;
    height: 50vh;
    width: 75vw;
    
}
main li,h3{
    font-size: 25px;
    list-style: none;
    line-height: 40px;
}

.cardtext-l{
    margin-top: 5vh;
    padding-left: 50px;
    width: 30vw;
    height: 50vh;
text-align: right;
overflow: hidden;
}
.cardtext-r{
  margin-top: 5vh;
    padding-right: 50px;
    width: 30vw;
    height: 50vh;
text-align: left;
overflow: hidden;

}
.blure{
    position: absolute;
    border: 5px red solid;
    width: 100%;
    bottom: 20vh;
    height: 10vh;
    filter: blur(2px);
    z-index: 5;
}
h1{
    font-size: 50px;
}
p{
    font-size: 25px;
}
.cardimage-r{
    width: 35vw;
   
    
}
.cardimg-r img{
    
    width: 25vw;
    height: 40vh;
    margin-top: 70px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}


.cardimage{
    width: 35vw;
    margin-top: 50px;
    
}
.cardimg img{
    margin-top: 10vh;
    width: 25vw;
    height: 40vh;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}

.cardtext-r button {
    position: relative;
    bottom: 0%;
    border-radius: 10px;
    width: 12vw;
    height: 5vh;
    font-size: 30px;
    background-color: rgb(12, 70, 12);
    color: aliceblue;
    
}
.cardtext-l button {
    position: relative;
    bottom: 0%;
    border-radius: 10px;
    width: 12vw;
    height: 5vh;
    font-size: 30px;
    background-color: rgb(12, 70, 12);
    color: aliceblue;
    
}
#banner-box{
    display: flex;


   justify-content: center;
    height: 40vh;
    
}

.banner{
    width: 70vw;
    box-shadow: 0 0 10px black;

}
.banner img{

    width: 70vw;
    height: 40vh;
    transform: scale(1) !important; 
}
main button:hover{
    transition: 1s;
    transform: scale(1.01);
    background-color: rgb(21, 210, 62);
}
img:hover{
transform: scale(1.1);
transition: 1s;
}

footer{
    display: flex;
    margin-top: 15vh;
    height: 40vh;
    background-color: rgb(12, 70, 12);
    box-shadow: 0px 0px 10px black;
    justify-content: center;
    text-align: center;
    color: antiquewhite;
    
}
#footerlogo{
    width: 200px;
    height: 5px;
    
}

#footertext{
    width: 80%;
    height: 100%;
  opacity: 0.5;
}
#footertext p{

    padding-left: 40px;
}
.t1 p{
    font-size: 20px;
}
.t2{
    padding: 10px;
}
.t3{
    padding: 10px;
}
#fbtn{
height: 30px;
width: 70px;
margin-left: 10px;
}
#footertext input{
padding: 8px;
   background: none;
   border-radius: 2px;
   border: black 2px solid;
   width: 650px;
}
.icons{
    font-size: 50px;
   display: inline-flex;
   gap: 50px;
}



